@model IEnumerable<F1_Project.Models.Round>

@{
    ViewData["Title"] = "F1 Calendar";
}

<h3>F1 Calendar</h3>

<p>
    <a asp-action="Create" asp-route-championshipid="@ViewData["ChampionshipId"]" class="btn btn-info footer-color">Add new Round</a>
    <a asp-action="Details" asp-controller="Championships" asp-route-id="@ViewData["ChampionshipId"]" class="btn btn-primary">Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Year
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Circuit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>   
            <td>
                @Html.DisplayFor(modelItem => item.Championship.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Circuit.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
