@model F1_Project.Models.Circuit

@{
    ViewData["Title"] = "Details";
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>
<hr />
<div>
    <h4>@Html.DisplayFor(model => model.FullName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Races Held
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberRacesHeld)
        </dd>
        <dt class="col-sm-2">
            Circuit Length
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CircuitLength) km
        </dd>
        <dt class="col-sm-2">
            Number Laps
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberLaps) laps
        </dd>
        <dt class="col-sm-2">
            Year First Race
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearFirstRace.Year)
        </dd>
        <dt class="col-sm-2">
            Lap Record
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LapRecord)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Photo != null)
            {
                <img src="@Url.Content(Model.Photo)" name="file" id="file" height="100" width="100" class="border border-secondary rounded" />
            }
            else
            {
                <img src="#" name="file" id="file" height="100" width="100" class="border border-secondary rounded" />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>