@model F1_Project.Models.ViewModel.DriverIndexData

@{
    ViewData["Title"] = "F1 Drivers";    
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Nationality
            </th>                     
            <th>
                Team
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Drivers)
    {
        string selectedRow = "";
        if(item.Id == (int?)ViewData["DriverId"])
        {
            selectedRow = "table-sucess";
        }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>                        
            <td>
                @foreach(var team in item.DriverTeams)
                {
                    @team.Team.FullName;
                }                
            </td>
            <td>
                <a asp-controller="DriverTeams" asp-action="Create" asp-route-driverid="@item.Id">New Team</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
