@model F1_Project.Models.ViewModel.DriverIndexData

@{
    ViewData["Title"] = "F1 Drivers";    
}

<h1>F1 Drivers</h1>

<p>
    <a asp-action="Create" class="btn btn-info">New Driver</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Nationality
            </th>                     
            <th>
                Team
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Drivers)
    {
        string selectedRow = "";
        if(item.Id == (int?)ViewData["DriverId"])
        {
            selectedRow = "table-sucess";
        }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>                        
            <td>                
                @foreach (var team in item.DriverTeams)
                {
                    @team.Team.FullName;                    
                    @:&#47;
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Details</a>
                <a asp-controller="DriverTeams" asp-action="Create" asp-route-driverid="@item.Id" class="btn btn-outline-success">Assign Team</a>           
            </td>
        </tr>
}
    </tbody>
</table>
