@model F1_Project.Models.Team

@{
    ViewData["Title"] = "Details";
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>
<hr />
<div>
    <h4>@Html.DisplayFor(model => model.FullName)</h4>
    <hr />
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            Race Victories
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceVictories)
        </dd>
        <dt class = "col-sm-2">
            Constructor Championships
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamsChampionshipsVictories)
        </dd>
        <dt class = "col-sm-2">
            Drivers Championships
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriversChampionshipsVictories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Photo != null)
            {
                <img src="@Url.Content(Model.Photo)" name="file" id="file" height="100" width="100" class="border border-secondary rounded" />
            }
            else
            {
                <img src="#" name="file" id="file" height="100" width="100" class="border border-secondary rounded" />
            }
        </dd>
    </dl>
</div>