@model F1_Project.Models.ViewModel.DriverIndexData

@{
    ViewData["Title"] = "F1 Teams";
}

<h1>F1 Teams</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Add new Team</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Nationality
            </th>      
            <th>
                Drivers
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teams) 
{
    string selectedRow = "";
    if (item.Id == (int?)ViewData["TeamId"])
    {
        selectedRow = "table-sucess";
    }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)                
            </td>                        
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @foreach (var driver in item.DriverTeams)
                {
                    @driver.Driver.FullName;
                    @:&#47;
                }
            </td>            
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Details</a>
                <a asp-action="Create" asp-route-teamid="@item.Id" asp-controller="DriverTeams" class="btn btn-outline-success">Assign Driver</a>
            </td>
        </tr>
}
    </tbody>
</table>
