@model IEnumerable<F1_Project.Models.ChampionshipTeam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Championship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Championship.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { championshipId = item.ChampionshipId, teamId = item.TeamId }) |
                <!--@Html.ActionLink("Details", "Details", new { championshipId = item.ChampionshipId, teamId = item.TeamId })-->
                @Html.ActionLink("Delete", "Delete", new { championshipId = item.ChampionshipId, teamId = item.TeamId })
            </td>
        </tr>
}
    </tbody>
</table>
