@model  IEnumerable<F1_Project.Models.DriverTeam>

@{
ViewData["Title"]="Driver Team" ;
}

<p>
    <a asp-action="Create">Assign a Driver</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { driverId = item.DriverId, teamId = item.TeamId }) |
                @Html.ActionLink("Details", "Details", new { driverId = item.DriverId, teamId = item.TeamId }) |
                @Html.ActionLink("Delete", "Delete", new { driverId = item.DriverId, teamId = item.TeamId })
            </td>
        </tr>
}
    </tbody>
</table>
